html,
body{
    font-size: 16px;
    scroll-behavior: smooth;
    @apply bg-gradient-to-l from-sand-500 to-sand-200;
}

#app {
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    /* color: #2c3e50; */
    /* margin-top: 60px; */
}
