<template>
    <div>
        <div>
            <TopBar :title="getUserName">
                <div v-if="!$isMobile()" class="flex justify-between items-baseline">
                    <div></div>
                    <p class="text-gray-500 font-bold text-sm">{{ user.Role }}</p>
                    <div>
                        <div v-if="( user['Is requestable'] !== undefined && !hasFriendRequest)">
                            <PersonRequestButton @click="sendRequest"/>
                        </div>
                        <div v-if="hasFriendRequest">
                            <p class="italic">Richiesta inoltrata</p>
                        </div>
                    </div>
                </div>
                <div v-else></div>
            </TopBar>

            <div v-if="$isMobile()" class="my-2">
                <p class="text-gray-500 font-bold text-sm mb-4">{{ user.Role }}</p>
                <div v-if="( user['Is requestable'] !== undefined && !hasFriendRequest)">
                    <PersonRequestButton @click="sendRequest"/>
                </div>
                <div v-if="hasFriendRequest">
                    <p class="italic">Richiesta inoltrata</p>
                </div>
            </div>

            <div class="pt-4 md:pt-8 pb-10">
                <div class="grid md:grid-cols-3 md:gap-x-10">
                    <div class="rounded-lg overflow-hidden md:h-80 w-full card-shadow relative aspect-w-16 aspect-h-9">
                        <div v-if="showImageProfile" class="h-full w-full bg-center bg-no-repeat bg-cover "
                            :style="{backgroundImage: 'url(' + getProfileImageUrl + ')'}"
                        >
                        </div>
                    </div>
                    <div class="md:col-span-2">
                        <div class="flex justify-start space-x-2 mt-4 md:mt-0 ">
                            <div>
                                <Icon :name="'quote-up'" />
                            </div>
                            <div class="max-w-md font-bold text-xl">
                                {{ user.Quote }}
                            </div>
                            <div class="place-self-end">
                                <Icon :name="'quote-down'" />
                            </div>
                        </div>
                        <div class="mt-10 text-base">
                            {{ user.Bio }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TopBar from '@/components/TopBar.vue'
import axios from 'axios'
import PersonRequestButton from '@/components/Person/RequestButton.vue'
import Icon from '@/components/Icon.vue'

export default {
    components: {
        TopBar,
        PersonRequestButton,
        Icon
    },
    inject: ['BASE_API_URL', 'API_TOKEN'],
    data() {
        return {
            user: {},
            user_id: null,
            error: false,
        }
    },
    created() {
        this.findUser()
    },
    computed: {
        isSetuser: function() {
            return Object.keys(this.user).length !== 0
        },
        getUserName: function(){
            if( !this.isSetuser ) return ''
            return this.user.Name
        },
        showImageProfile: function(){
            if( !this.isSetuser ) return false
            if( this.user['Profile image'].length == 0 ) return false
            return true
        },
        getProfileImageUrl: function(){
            if( !this.isSetuser ) return ''
            if( this.showImageProfile ){
                return this.user['Profile image'][0].url
            }
            return null
        },
        showRequestable: function(){
            if( !this.isSetuser ) return false
            return this.user['Is requestable']
        },
        hasFriendRequest: function(){
            if( !this.isSetuser ) return false
            return (this.user['Friend request'] && this.user['Friend request'].length > 0 )
        }
    },
    methods: {
        findUser() {
            /*
            @todo complete this method, send GET request using "lists" url inside getApiURL method
            */
            const self = this
            const url = this.BASE_API_URL + "People/"+ this.$route.params.id +"?api_key=" + this.API_TOKEN;
            axios.get(url).then((response) => {
                self.user = response.data.fields
            }).catch(function () {
                self.error = true
            });
        },
        sendRequest() {
            if( !this.isSetuser ){
                console.log('No user id found')
                return
            }
            const url = this.BASE_API_URL + "Friend%20request"
            const config = {
                headers: {
                    'Authorization': `Bearer ${this.API_TOKEN}`,
                    'Content-Type': 'application/json'
                }
            };
            const bodyParameters = {
                "records": [
                    {
                        "fields": {
                            "From": ' --- ', // your name
                            "To": [
                                this.$route.params.id // member ID (use lists request to show possible values)
                            ]
                        }
                    }
                ]
            };

            axios.post(url, bodyParameters, config )
            .then(() => {
                this.findUser()
            });
        }

    }
}
</script>
