<template>
    <div>
        <div>
            <TopBar :title="'Meet our friends'" />
        </div>
        <div v-if="showList" class="grid grid-cols-1 md:grid-cols-3 gap-x-8 pb-10 ">
            <div v-for="(item,k) in getList" :key="k">
                <div :class="(k > getValuePerBorder) ? 'border-t border-gray-500' : ''" class="py-8 md:py-12">
                    <router-link :to="{ name: 'detail_people', params: {id: item.id } }">
                        <PersonCard :detail="item.fields" />
                    </router-link>
                </div>
            </div>
        </div>
        <div v-else>
            <p class="italic pt-4">Errore nel caricamento della lista.</p>
        </div>
    </div>
</template>

<script>
import TopBar from '@/components/TopBar.vue'
import PersonCard from '@/components/Person/Card.vue'
import axios from 'axios'

export default {
    components: {
        TopBar,
        PersonCard
    },
    inject: ['BASE_API_URL', 'API_TOKEN'],
    data() {
        return {
            list: [],
            error: false,
        }
    },
    created() {
        this.getLists()
    },
    computed: {
        getValuePerBorder: function() {
            if( this.$isMobile() ){
                return 0
            }
            return 2
        },
        getList: function(){
            return this.list
        },
        showList: function(){
            return ( this.error == false )
        },
    },
    methods: {
        getLists() {
            /*
            @todo complete this method, send GET request using "lists" url inside getApiURL method
            */
            const self = this
            const url = this.BASE_API_URL + "tblWcsEyTOIf47ZuQ?api_key=" + this.API_TOKEN;
            axios.get(url).then((response) => {
                self.list = response.data.records
            }).catch(function () {
                self.error = true
            });

        },
    }
}
</script>
