<template>

    <svg v-if="name === 'logo'" width="33" height="39" viewBox="0 0 33 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
    <path d="M4.68082 16.5969C7.04676 18.1189 10.256 18.56 12.9901 18.56C16.8082 18.56 19.7072 17.7835 21.687 16.2305C22.6432 15.5061 23.41 14.5752 23.9258 13.5126C24.4415 12.45 24.6919 11.2855 24.6566 10.1125C24.6812 8.67669 24.2895 7.26286 23.5257 6.03071C22.7619 4.79855 21.6564 3.79715 20.3342 3.13963C19.4571 2.70983 18.5321 2.37816 17.5771 2.15107C16.0732 1.81535 14.5336 1.65211 12.9901 1.66474C9.17199 1.66474 6.27305 2.44122 4.29325 3.99417C3.33702 4.71861 2.57019 5.64957 2.05443 6.71219C1.53867 7.77482 1.28837 8.93946 1.32365 10.1125C1.28548 11.4505 1.5858 12.7773 2.19856 13.978C2.78213 15.0403 3.6364 15.9417 4.68082 16.5969ZM10.2591 4.32708C10.9129 3.2349 11.8232 2.68877 12.9901 2.68869C14.1568 2.68869 15.0671 3.23482 15.7211 4.32708C16.3749 5.41973 16.7019 7.34819 16.7022 10.1125C16.7022 12.8772 16.3751 14.8056 15.7211 15.8979C15.0666 16.9906 14.1563 17.5366 12.9901 17.536C11.8235 17.536 10.9132 16.99 10.2591 15.8979C9.60452 14.8057 9.27749 12.8772 9.27803 10.1125C9.27803 7.34756 9.60506 5.41909 10.2591 4.32708Z" fill="black"/>
    <path d="M24.524 23.0912C23.021 21.6065 20.944 20.8641 18.293 20.8641H8.2175C6.62652 20.8641 5.52164 20.7105 4.90287 20.4032C4.65379 20.2985 4.43764 20.1324 4.27614 19.9214C4.11464 19.7105 4.01348 19.4623 3.98283 19.2017C3.9824 18.7863 4.14428 18.386 4.43614 18.0808C2.73472 17.9416 0.90421 18.8768 0.347629 20.4613C-0.0416601 21.5123 -0.0801328 22.6546 0.2376 23.7278C0.555332 24.8009 1.2133 25.751 2.11909 26.4445C3.53257 27.5031 5.56538 28.0322 8.2175 28.0319H18.293C22.5355 28.0319 24.6567 29.1411 24.6566 31.3597C24.6566 33.1004 23.6578 34.5595 21.6603 35.737C19.4394 37.0465 16.8171 37.6564 14.2379 37.8021C11.5447 37.9618 8.84848 37.5405 6.34498 36.5687C6.8649 36.1926 7.2872 35.705 7.5786 35.1443C7.87 34.5837 8.02253 33.9654 8.02416 33.3381C8.01431 32.7108 7.84888 32.095 7.54175 31.5421C7.23463 30.9893 6.79474 30.5156 6.25894 30.1607C5.71606 29.8158 5.09336 29.6058 4.44616 29.5492C3.79897 29.4927 3.14733 29.5914 2.54914 29.8365C1.74741 30.1917 1.07615 30.7733 0.624052 31.5046C0.163713 32.1951 -0.0491738 33.0124 0.0180901 33.8311C0.15984 34.7725 0.657022 35.6301 1.41405 36.2391C3.52427 38.0367 6.87179 38.5683 9.57611 38.8551C12.5887 39.1469 15.6302 38.9728 18.5859 38.3392C21.046 37.8431 23.5234 36.7247 25.1021 34.7708C26.3218 33.2613 26.7778 31.1877 26.7778 29.3118C26.7778 26.6495 26.0265 24.576 24.524 23.0912Z" fill="black"/>
    <path d="M30.374 7.55674C32.4647 6.80193 33.5257 4.55372 32.7439 2.53524C31.9621 0.516767 29.6335 -0.507636 27.5428 0.24718C25.4521 1.002 24.3911 3.2502 25.1729 5.26867C25.9547 7.28715 28.2833 8.31156 30.374 7.55674Z" fill="black"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="33" height="39" fill="white"/>
    </clipPath>
    </defs>
    </svg>

    <svg v-if="name === 'twitter'" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M21.12 0H0.88C0.39325 0 0 0.39325 0 0.88V21.12C0 21.6068 0.39325 22 0.88 22H21.12C21.6068 22 22 21.6068 22 21.12V0.88C22 0.39325 21.6068 0 21.12 0ZM16.9207 7.96675C16.929 8.096 16.929 8.23075 16.929 8.36275C16.929 12.3997 13.8545 17.05 8.23625 17.05C6.50375 17.05 4.89775 16.5468 3.54475 15.6805C3.79225 15.708 4.02875 15.719 4.28175 15.719C5.71175 15.719 7.02625 15.235 8.074 14.4155C6.732 14.388 5.6045 13.508 5.2195 12.298C5.68975 12.3668 6.11325 12.3668 6.59725 12.243C5.90625 12.1026 5.28516 11.7273 4.83949 11.1809C4.39383 10.6345 4.15109 9.95062 4.1525 9.2455V9.207C4.55675 9.43525 5.0325 9.5755 5.53025 9.59475C5.11182 9.31588 4.76866 8.93808 4.53121 8.49483C4.29375 8.05159 4.16934 7.55659 4.169 7.05375C4.169 6.4845 4.3175 5.96475 4.58425 5.51375C5.35123 6.45793 6.30831 7.23014 7.39328 7.78021C8.47825 8.33027 9.66682 8.64587 10.8818 8.7065C10.45 6.63025 12.001 4.95 13.8655 4.95C14.7455 4.95 15.5375 5.3185 16.0957 5.9125C16.786 5.78325 17.446 5.52475 18.0345 5.17825C17.8062 5.885 17.3277 6.48175 16.6925 6.8585C17.3085 6.7925 17.9025 6.622 18.4525 6.38275C18.0373 6.99325 17.5175 7.535 16.9207 7.96675Z" fill="black"/>
    </svg>

    <svg v-if="name === 'linkedin'" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.7206e-07 1.838C2.7206e-07 1.35053 0.193646 0.883032 0.538338 0.53834C0.88303 0.193648 1.35053 2.45031e-06 1.838 2.45031e-06H20.16C20.4016 -0.000392101 20.6409 0.0468654 20.8641 0.139069C21.0874 0.231273 21.2903 0.366612 21.4612 0.537339C21.6322 0.708065 21.7677 0.910826 21.8602 1.13401C21.9526 1.3572 22.0001 1.59643 22 1.838V20.16C22.0003 20.4016 21.9529 20.6409 21.8606 20.8642C21.7683 21.0875 21.6328 21.2904 21.462 21.4613C21.2912 21.6322 21.0884 21.7678 20.8651 21.8602C20.6419 21.9526 20.4026 22.0001 20.161 22H1.838C1.59655 22 1.35746 21.9524 1.1344 21.86C0.911335 21.7676 0.708671 21.6321 0.537984 21.4613C0.367297 21.2905 0.231932 21.0878 0.139623 20.8647C0.0473133 20.6416 -0.000131096 20.4025 2.7206e-07 20.161V1.838ZM8.708 8.388H11.687V9.884C12.117 9.024 13.217 8.25 14.87 8.25C18.039 8.25 18.79 9.963 18.79 13.106V18.928H15.583V13.822C15.583 12.032 15.153 11.022 14.061 11.022C12.546 11.022 11.916 12.111 11.916 13.822V18.928H8.708V8.388ZM3.208 18.791H6.416V8.25H3.208V18.79V18.791ZM6.875 4.812C6.88105 5.08667 6.83217 5.35979 6.73124 5.61532C6.63031 5.87084 6.47935 6.10364 6.28723 6.30003C6.09511 6.49643 5.8657 6.65247 5.61245 6.75901C5.35921 6.86554 5.08724 6.92042 4.8125 6.92042C4.53776 6.92042 4.26579 6.86554 4.01255 6.75901C3.7593 6.65247 3.52989 6.49643 3.33777 6.30003C3.14565 6.10364 2.99469 5.87084 2.89376 5.61532C2.79283 5.35979 2.74395 5.08667 2.75 4.812C2.76187 4.27286 2.98439 3.75979 3.36989 3.38269C3.75539 3.00558 4.27322 2.79442 4.8125 2.79442C5.35178 2.79442 5.86961 3.00558 6.25511 3.38269C6.64061 3.75979 6.86313 4.27286 6.875 4.812Z" fill="black"/>
    </svg>

    <svg v-if="name === 'no'" width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 0.492188C9.625 0.492188 8.32812 0.757813 7.10938 1.28906C5.89062 1.80469 4.82812 2.51563 3.92188 3.42188C3.01562 4.32812 2.30469 5.39062 1.78906 6.60938C1.25781 7.82812 0.992188 9.125 0.992188 10.5C0.992188 11.875 1.25781 13.1719 1.78906 14.3906C2.30469 15.6094 3.01562 16.6719 3.92188 17.5781C4.82812 18.4844 5.89062 19.1953 7.10938 19.7109C8.32812 20.2422 9.625 20.5078 11 20.5078C12.375 20.5078 13.6719 20.2422 14.8906 19.7109C16.1094 19.1953 17.1719 18.4844 18.0781 17.5781C18.9844 16.6719 19.6953 15.6094 20.2109 14.3906C20.7422 13.1719 21.0078 11.875 21.0078 10.5C21.0078 9.125 20.7422 7.82812 20.2109 6.60938C19.6953 5.39062 18.9844 4.32812 18.0781 3.42188C17.1719 2.51563 16.1094 1.80469 14.8906 1.28906C13.6719 0.757813 12.375 0.492188 11 0.492188ZM15.9922 14.0859L14.5859 15.4922L11 11.9062L7.41406 15.4922L6.00781 14.0859L9.59375 10.5L6.00781 6.91406L7.41406 5.50781L11 9.09375L14.5859 5.50781L15.9922 6.91406L12.4062 10.5L15.9922 14.0859Z" fill="#FF5B5B"/>
    </svg>

    <svg v-if="name === 'yes'" width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 0.492188C9.625 0.492188 8.32812 0.757813 7.10938 1.28906C5.89062 1.80469 4.82812 2.51563 3.92188 3.42188C3.01562 4.32812 2.30469 5.39062 1.78906 6.60938C1.25781 7.82812 0.992188 9.125 0.992188 10.5C0.992188 11.875 1.25781 13.1719 1.78906 14.3906C2.30469 15.6094 3.01562 16.6719 3.92188 17.5781C4.82812 18.4844 5.89062 19.1953 7.10938 19.7109C8.32812 20.2422 9.625 20.5078 11 20.5078C12.375 20.5078 13.6719 20.2422 14.8906 19.7109C16.1094 19.1953 17.1719 18.4844 18.0781 17.5781C18.9844 16.6719 19.6953 15.6094 20.2109 14.3906C20.7422 13.1719 21.0078 11.875 21.0078 10.5C21.0078 9.125 20.7422 7.82812 20.2109 6.60938C19.6953 5.39062 18.9844 4.32812 18.0781 3.42188C17.1719 2.51563 16.1094 1.80469 14.8906 1.28906C13.6719 0.757813 12.375 0.492188 11 0.492188ZM9.00781 15.4922L3.99219 10.5L5.39844 9.09375L9.00781 12.6797L16.6016 5.08594L18.0078 6.49219L9.00781 15.4922Z" fill="#8DCC7B"/>
    </svg>

    <svg v-if="name === 'quote-up'" width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.25346 20.625V10.91H5.07143C5.07143 9.35397 5.36713 8.05023 5.95853 6.99883C6.54992 5.90537 7.64823 5.08528 9.25346 4.53855V0.375C7.94393 0.543225 6.71889 0.942757 5.57834 1.5736C4.48003 2.16238 3.52957 2.91939 2.72696 3.84463C1.92435 4.76986 1.29071 5.84229 0.826037 7.06192C0.40361 8.28154 0.213518 9.58528 0.25576 10.9731V20.625H9.25346ZM22.75 20.625V10.91H18.568C18.568 9.35397 18.8637 8.05023 19.4551 6.99883C20.0465 5.90537 21.1448 5.08528 22.75 4.53855V0.375C21.4405 0.543225 20.2154 0.942757 19.0749 1.5736C17.9766 2.16238 17.0261 2.91939 16.2235 3.84463C15.4209 4.76986 14.7872 5.84229 14.3226 7.06192C13.9002 8.28154 13.7101 9.58528 13.7523 10.9731V20.625H22.75Z" fill="black"/>
    </svg>

    <svg v-if="name === 'quote-down'" width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.7465 0.375001V10.09H17.9286C17.9286 11.646 17.6329 12.9498 17.0415 14.0012C16.4501 15.0946 15.3518 15.9147 13.7465 16.4614V20.625C15.0561 20.4568 16.2811 20.0572 17.4217 19.4264C18.52 18.8376 19.4704 18.0806 20.273 17.1554C21.0757 16.2301 21.7093 15.1577 22.174 13.9381C22.5964 12.7185 22.7865 11.4147 22.7442 10.0269V0.375002L13.7465 0.375001ZM0.250002 0.375L0.250001 10.09L4.43203 10.09C4.43203 11.646 4.13633 12.9498 3.54493 14.0012C2.95353 15.0946 1.85522 15.9147 0.25 16.4614L0.25 20.625C1.55952 20.4568 2.78456 20.0572 3.92511 19.4264C5.02342 18.8376 5.97389 18.0806 6.7765 17.1554C7.57911 16.2301 8.21275 15.1577 8.67742 13.9381C9.09985 12.7185 9.28994 11.4147 9.24769 10.0269L9.2477 0.375001L0.250002 0.375Z" fill="black"/>
    </svg>

</template>

<script>
export default {
    props: {
        name: String,
        color: {
            type: String,
            default: '#546976'
        },
        fillcolor: {
            type: String,
            default: '#ffffff'
        },
    },
}
</script>
