
<template>
    <div>
        <div class="border-b border-black flex pb-1 items-baseline">
            <div class="flex-none">
                <h1 class="text-2xl font-bold color-black">{{ title }}</h1>
            </div>
            <div class="flex-1">
                <slot>
                    <div class="flex justify-end">
                        <Icon :name="'logo'" />
                    </div>
                </slot>
            </div>
        </div>
    </div>
</template>

<script>

import Icon from '@/components/Icon.vue'

export default {
    name: 'TopBar',
    props: {
        title: String
    },
    components: {
        Icon,
    }
}
</script>
