<template>
    <div>
        <div class="md:grid md:grid-cols-2 gap-4">
            <div class="bg-gray-400 overflow-hidden rounded-lg md:h-80 w-full card-shadow relative aspect-w-16 aspect-h-9"> <!-- h-40 md:h-96  -->
                <div v-if="showImageProfile" class="h-full w-full bg-center bg-no-repeat bg-cover "
                    :style="{backgroundImage: 'url(' + getProfileImageUrl + ')'}"
                >
                </div>
                <!-- <nuxt-link :to="localePath({ name: 'product-name', params: { name: product.slug } })"
                    v-on:click.native="productClick(product)"
                > -->
                        <!-- <picture>
                            <img v-if="showImageProfile" :src="getProfileImageUrl"
                                class="object-cover" loading="lazy"
                            >
                        </picture> -->

                <!-- </nuxt-link> -->
                <div v-if="detail['Is requestable'] !== undefined"
                    class="absolute top-4 left-4"
                >
                    <Icon :name=" (showRequestable) ? 'yes' : 'no' " />
                </div>
            </div>
            <div class="flex flex-col justify-between">
                <div>
                    <div class="flex justify-between mt-4 md:mt-0">
                        <p class="text-lg font-bold md:mb-2">{{ detail.Name }}</p>
                        <div v-if="$isMobile()" >
                            <PersonSocial :detail="detail" />
                        </div>
                    </div>
                    <p class="text-gray-500 font-bold text-sm mb-4 md:mb-2">{{ detail.Role }}</p>
                    <div class="text-sm">
                        {{ detail.Quote }}
                    </div>
                </div>

                <div v-if="!$isMobile()" >
                    <PersonSocial :detail="detail" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Icon from '@/components/Icon.vue'
import PersonSocial from '@/components/Person/Social.vue'

export default {
    props: {
        detail: {
            type: Object,
            default: () => {}
        }
    },
    components: {
        Icon,
        PersonSocial
    },
    data() {
        return {
            // list: [],
            // error: false,
        }
    },
    computed: {
        showImageProfile: function(){
            if( this.detail['Profile image'].length == 0 ) return false
            return true
        },
        getProfileImageUrl: function(){
            if( this.showImageProfile ){
                return this.detail['Profile image'][0].url
            }
            return null
        },
        showRequestable: function(){
            return this.detail['Is requestable']
        }
    },
    methods: {
        // getLists() {
        //     /*
        //     @todo complete this method, send GET request using "lists" url inside getApiURL method
        //     */
        //     const self = this
        //     const url = this.BASE_API_URL + "tblWcsEyTOIf47ZuQ?api_key=" + this.API_TOKEN;
        //     axios.get(url).then((response) => {
        //         self.list = response.data.records
        //     }).catch(function () {
        //         self.error = true
        //     });

        // },
    }
}
</script>

<style scoped>
.card-shadow{
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.2));
}
</style>
