<template>
    <div>
        <button class="bg-green-400 text-black border-black border rounded-full text-sm py-2 px-4 hover:underline">
            Send Request
        </button>
    </div>
</template>
