<template>
    <div class="flex items-center justify-start space-x-2">
        <div>
            <a :href="detail['Twitter url']" target="_blank">
                <Icon :name="'twitter'" />
            </a>
        </div>
        <div>
            <a :href="detail['Linkedin url']" target="_blank">
                <Icon :name="'linkedin'" />
            </a>
        </div>
    </div>
</template>

<script>

import Icon from '@/components/Icon.vue'

export default {
    props: {
        detail: {
            type: Object,
            default: () => {}
        }
    },
    components: {
        Icon,
    }
}
</script>
