<template>
    <div>
        <component :is="$route.meta.layout || 'div'">
            <RouterView />
        </component>
    </div>
</template>

<script>

    // import axios from 'axios'

    export default {
        name: 'App',
        components: {

        },
        data() {
            return {
                // api_token: 'keyEC9F0usYdVoWzg'
            }
        },
        created() {
            // this.getLists()

        },
        methods: {
            getLists() {
                // /*
                // @todo complete this method, send GET request using "lists" url inside getApiURL method
                // */
                // const url = this.getApiURL( "lists" )
                // axios.get(url).then((response) => {
                //     console.log(response.data)
                // })

            },
            // storeRows(data) {
            //     console.log(data)
            //     /* data structure {
            //         name: "Paul",
            //         ids: ["asdf32fad","234aassdf32fad"]
            //     }
            //     */
            //     /*
            //     @todo complete this method, use once request (like storeRow)

            // */
            // },

            /* send POST request using "friendRequest" url inside getApiURL method */
            // storeRow(data) {
            //     console.log(data)
            //     const config = {
            //         headers: {
            //             Authorization: `Bearer ${this.api_token}`,
            //             'Content-Type': 'application/json'
            //         }
            //     };
            //     const bodyParameters = {
            //         "records": [
            //             {
            //                 "fields": {
            //                     "From": data.name, // your name
            //                     "To": [
            //                         data.id // member ID (use lists request to show possible values)
            //                     ]
            //                 }
            //             }
            //         ]
            //     };

            //     /*
            //     @todo complete this method, send POST request using header and body parameters
            //     */
            // },

            // getApiURL(model) {
            //     switch(model) {
            //         case "lists":
            //             return "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/tblWcsEyTOIf47ZuQ?api_key=" + this.api_token;
            //         case "friendRequest":
            //             return "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request";
            //         default:
            //             return "";
            //     }
            // }

        }
    }
</script>

<style>
    @import './assets/css/index.css';
    @import './assets/css/base.css';
</style>
