<template>
    <div class="min-h-screen overflow-hidden font-sans bg-no-repeat bg-top md:bg-right-bottom md:bg-auto bg-contain bg-fixed g-size pt-12 md:pt-20"
        :style="{backgroundImage: 'url('+require(`../assets/img/Big-G.svg`)+')' }"
    >
        <div class="w-full h-full px-4 md:px-20 ">
            <div class="grow relative">
                <div class="">
                    <slot />
                </div>
            </div>
        </div>

    </div>
</template>

<style scoped>
.g-size{
    background-size: auto 80%;
}
</style>
